<ul>
  <li>
    <%= workout.user.first_name %>
  </li>
  <li>
  Place:  <%= workout.place %>
  </li>
  <li>
   Activity:  <%= workout.activity %>
  </li>
  <li>
   Date: <%= workout.date %>
  </li>
</ul>
