<h2><%= @group.title %></h2>

<%= link_to "Create Challenge", new_group_challenge_path(@group) %>
<%= render @challenges %>
<h4>Members</h3>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.first_name, user %>
    </li>
  <% end %>
</ul>
