<ul>
  <li>
    <%= link_to challenge.title, challenge %>
  </li>
  <li>
    <%= challenge.statement %>
  </li>
  <li>
    <%= challenge.start_date %>
  </li>
  <li>
    <%= challenge.end_date %>
  </li>
</ul>

